*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Kanit', sans-serif;
    ;

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FDFDFD;
    overflow-x: hidden;
    
}
#load{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff
  url('https://cdn.dribbble.com/users/148670/screenshots/5252136/media/ecd5f652dc032d85e20cb72c450e8525.gif')
  no-repeat center;
  z-index: 99999;
}

.top{
    background-image: url(images/b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
.top img{
    position: absolute;
    top: 180px;
    left: 360px;
    width: 990px;
    margin-bottom: 100px;
    height: auto;
    overflow: hidden;
}
.top .imgtop{
 position: absolute;
 top: 0px;
 left: 100px;
 width: 160px;
 height: auto;
}
.heading h5{
  position: absolute;
  top: 20px;
  left: 960px;
  float: right;
}
.heading img{
  position: absolute;
  width: 20px;
  height: auto;
  left: 930px;
  top: 20px;
}
.heading .navbar{
   display: flex;
    margin-left: 200px;
    margin-top: 60px;
   
}
.heading .navbar ul{
    display: flex;
    float: right;
    margin-left: 420px;
}
.heading .navbar li{
   margin-right: 10px;
  margin-top: -20px;
  float: right;
  padding: 10px 10px;
  color: #000;
}

.slide{
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 8px;
  font-size: 20px;
}

.slide::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #1560BD;
  transition: width .3s;
}

.slide:hover::after {
  width: 100%;
  //transition: width .3s;
}
.heading .tag{
  margin-top: 150px;
  margin-left: 100px;  
}
.heading .tag{
    font-size: 40px;
}
.explore{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 140px;
}
.explore li a {
    color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    background-color: #000;
}
.mid{
  margin-bottom: 200px;
}
.mid img{
 position: absolute;
 width: 100%;
 height: 600px;
}
.mid h2{
    margin-top: 50px;
    margin-left: 600px;
    font-size: 40px;
    border-bottom: 2px solid #000;
    width: 175px;
}
.mid-1{
    display: flex;
     padding-left: 20px;
    width: 300px;
    height: auto;
    margin: 10px;
    margin-left: 200px;
    padding: 50px;
}
.mid-1 a{
  color: #000;
}
.col-1{
    margin: 20px;
    padding: 60px;
    width: 600px;
    background-color: #fff;
    border: 1px solid #FDFDFD;
}
.col-1 img{
    width: 258px;
    margin-left: -71px;
    padding: 10px;
    height: auto;
    display: flex;
    float: right;
}
.col-1 h3{
    justify-content: center;
    text-align: center;
}

.side h2{
    margin-top: 50px;
    margin-left: 600px;
    font-size: 40px;
    border-bottom: 2px solid #000;
    width: 125px;
   
}

::selection{
    color: #fff;
    background: #6665ee;
  }
.img img{
    position: absolute;
      display: flex;
      float: left;
      margin-left: 800px;
      margin-top: -140px;
      width: 500px;
      height: auto;
  }
  .skill-bars{
      margin-top: 50px;
      margin-left: 100px;
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 90%;
  }
  .bar .progress-line.css span{
    width: 70%;
  }
  .bar .progress-line.jquery span{
    width: 45%;
  }
  .bar .progress-line.python span{
    width: 50%;
  }
  .bar .progress-line.mysql span{
    width: 75%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "90%";
  }
  .progress-line.css span::after{
    content: "70%";
  }
  .progress-line.jquery span::after{
    content: "45s%";
  }
  .progress-line.python span::after{
    content: "50%";
  }
  .progress-line.mysql span::after{
    content: "75%";
  }
  .sec-last-1 {
  margin-top: 100px;
  margin-left: 100px;
  }
  .sec-last-1 img{
      margin-top: 50px;
      width: 500px;
      height: auto;
  }
  .sec-last-1 h3{
      position: absolute;
      margin-top: 150px;
      left: 700px;
      font-size: 30px;
      float: right;
  }
  .sec-last-1 p{
      position: absolute;
      margin-top: 200px;
      margin-left: 600px;
      width: 400px;
      text-align: justify;
     float: right;
  }

  .sec-last-2 {
    margin-top: 0px;
    margin-left: 100px;
    }
    .sec-last-2 img{
        position: absolute;
        float: right;
        margin-top: 150px;
        margin-left: 600px;
        width: 500px;
        height: auto;
    }
    .sec-last-2 h3{
        position: absolute;
        margin-top: 150px;
        left: 100px;
        font-size: 30px;
        float: right;
    }
    .sec-last-2 p{
        position: absolute;
        margin-top: 200px;
        margin-right: 800px;
        width: 400px;
        text-align: justify;
       float: right;
    }
    .sec-last-3 {
        margin-top: 300px;
        margin-left: 100px;
        }
        .sec-last-3 img{
            margin-top: 200px;
            width: 500px;
            height: auto;
        }
        .sec-last-3 h3{
            position: absolute;
            margin-top: 240px;
            left: 700px;
            font-size: 30px;
            float: right;
        }
        .sec-last-3 p{
            position: absolute;
      margin-top: 300px;
      margin-left: 600px;
      width: 400px;
      text-align: justify;
     float: right;
        }
        .last{
            margin-top: 100px;
        }
        .last h2{
            margin-top: 50px;
            margin-left: 600px;
            font-size: 40px;
            border-bottom: 2px solid #000;
            width: 145px;
        }
        .last img{
          position: absolute;
            margin-left: 600px;
            margin-top: 0px;
            display: flex;
            float: right;
            margin-right: 50px;
            width: 600px;
            height: auto;
        }
        .last form{
            margin-left: 100px;
            padding-top: 50px;
            padding-left: 80px;
            height: 500px;
            width: 500px;
           
            border-radius: 10px;
            box-shadow: 0 0 #000;
          
        }
        form .text{
  
        }
        .text input{

            margin: 10px;
            width: 300px;
            height: 50px;  
            border: 1px solid #adadad;
            background: transparent;
            outline: none;
            padding-left: 10px;
        }
        .text select{
            margin: 10px;
            width: 300px;
            height: 50px;
            outline: none;
            border: 1px solid #adadad;
        }
      .last textarea{
          display: flex;
          margin: 10px;
          width: 300px;
          padding: 10px;
          outline: none;
          resize: initial;
      }
      form button{
          margin-top: 10px;
          margin-left: 10px;
      }
      button {
          display: flex;
          margin-top: 10px;
          padding-top: 10px;
          color: #fff;
          border: 1px solid transparent;
          padding: 10px 30px;
          background-color: #3A9BDC;
          border-radius: 20px;
      }
     .footer{
       margin-top: 150px;
       width: 100%;
       height: 100px;
       background-color:#000;
     }
     .footer .end{
       color: #fff;
       display: flex;
     }
     .end p{
    margin-top: 40px;
    margin-left: 100px;
     }
     .end .img{
       margin-top: 20px;
       display: flex; 
       margin-left: 600px; 
     }
     .end .img li{
       padding-right: 60px;
  
       display: flex;
       top: 10px;
     }
     .end .img li img{
      width: 50px;
      margin: 10px;
      height: auto;
     }

     .wrapper{
      display: flex;
    }
    .wrapper .static-txt{
      color: #000;
      font-size: 80px;
      font-weight: 400;
      margin-top: -20px;
      margin-bottom: 100px;
    }
    .wrapper .dynamic-txts{
      position: absolute;
      top: 100px;
      left: -20px;
      margin-left: 15px;
      height: 90px;
      line-height: 90px;
      overflow: hidden;
    }
    .dynamic-txts li{
      list-style: none;
      color: #FC6D6D;
      font-size: 80px;
      font-weight: 500;
      position: relative;
      top: 0;
      animation: slide 7s steps(4) infinite;
    }
    @keyframes slide {
      100%{
        top: -360px;
      }
    }
    .dynamic-txts li span{
      position: relative;
      margin: 5px 0;
      line-height: 90px;
    }
    .dynamic-txts li span::after{
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background: hide;
      animation: typing 1s steps(10) infinite;
    }
    @keyframes typing {
      40%, 60%{
        left: calc(100% + 30px);
      }
      100%{
        left: 0;
      }
    }
    
      
    @media screen and (max-width:900px) and (min-width: 0px){
      html,body{
       width: 100vh;
       margin: 0;
       padding: 0;
       overflow-x: hidden;
      }
      .top{
        width: 100vh;
      }
    .top img{
       position: absolute;
       margin-top: 0px;
       left: 60px;
       width: 500px;
       height: auto;
     }
    .top .imgtop{
      position: absolute;
      top: -20px;
      left: 50px;
      width: 160px;
      height: auto;
     }
     .navbar ul li{
       display: none;
     }
     .heading .tag{
      margin-top: 50px;
      margin-left: 50px;  
    }
    .heading .tag .wrapper .static-txt {
        font-size: 40px;
    }
    .wrapper .dynamic-txts{
      position: absolute;
      top: 20px;
    }
    .dynamic-txts li{
      font-size: 60px;
    }
    .explore{
      margin-left: 50px;
      margin-top: 10px;

    }
    .heading img{
      position: absolute;
      width: 20px;
      top: 25px;
      left: 250px;
      height: auto;
    }
    .heading h5{
      position: absolute;
      left: 280px;
      top: 25px;
    }
   
.mid{
margin-bottom: 200px;
}
.mid img{
position: absolute;
width: 100vh;
height: 600px;
}
.mid h2{
  margin-top: 50px;
  margin-left: 15%;
  font-size: 40px;
  border-bottom: 2px solid #000;
  width: 175px;
}
.mid-1{
  display: inline-block;
   padding-left: 20px;
  width: 300px;
  height: auto;
  margin: 10px;
  margin-left: 0%;
  padding: 50px;
  justify-content: center;
  align-items: center;
}
.mid-1 a{
color: #000;
}
.col-1{
  margin: 20px;
  padding-bottom: 230px;
  width: 238px;
  background-color: #fff;
  border: 1px solid #FDFDFD;
}
.col-1 img{
  width: 258px;
  margin-left: -71px;
  padding: 10px;
  height: auto;
  display: flex;
  float: right;
}
.side{
display: inline-block;
}
.side h2{
margin-top: -150px;
margin-left: 35%;
font-size: 40px;
border-bottom: 2px solid #000;
width: 125px;

}
::selection{
color: #fff;
background: #6665ee;
}
.img img{

  display: none;
}
.skill-bars{
  margin-top: 50px;
  margin-left: 20px;
padding: 25px 30px;
width: 400px;
background: #fff;
box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
border-radius: 10px;
}
.sec-last-1 {
margin-top: 100px;
margin-left: 20px;
}
.sec-last-1 img{
    margin-top: 50px;
    width: 400px;
    height: auto;
}
.sec-last-1 h3{

    margin-top: 350px;
    left: 30px;
    font-size: 30px;
    float: right;
}
.sec-last-1 p{
   
    margin-top: 400px;
    margin-bottom: 100px;
    margin-left: 30px;
    width:320px;
    text-align: justify;
   float: right;
}

.sec-last-2 {
  margin-top: 100px;
  margin-left: 20px;
  }
  .sec-last-2 img{
      margin-top: 250px;
      margin-left: 10px;
      width: 380px;
      height: auto;
  }
  .sec-last-2 h3{
  
      margin-top: 500px;
      left: 30px;
      font-size: 30px;
      float: right;
  }
  .sec-last-2 p{
     
      margin-top: 550px;
      margin-bottom: 100px;
      margin-left: 30px;
      width:320px;
      text-align: justify;
     float: right;
  }
  

  .sec-last-3 {
    margin-top: 700px;
    margin-left: 20px;
    }
    .sec-last-3 img{
        margin-top: 250px;
        margin-left: 10px;
        width: 380px;
        height: auto;
    }
    .sec-last-3 h3{
    
        margin-top: 550px;
        left: 30px;
        font-size: 30px;
        float: right;
    }
    .sec-last-3 p{
       
        margin-top: 600px;
        margin-bottom: 100px;
        margin-left: 30px;
        width:320px;
        text-align: justify;
       float: right;
    }
   
  .last{
      margin-top: 300px;
  }
  .last h2{
      margin-top: 50px;
      margin-left: 20%;
      font-size: 40px;
      border-bottom: 2px solid #000;
      width: 145px;
  }
  .last img{
   display: none;
  }
  .last form{
      margin-left: 20px;
      padding-top: 50px;
      padding-left: 20px;
      height: 500px;
      width: 400px;
      border-radius: 10px;
      box-shadow: 0 0 #000;
    
  }
  .footer{
    margin-top: 150px;
    width: 100vh;
    height: 100px;
    background-color:#000;
    overflow: hidden;
  }
  .footer .end{
    color:;
    display: flex;
  }
  .end p{
    color: #fff;
    display: flex;
 margin-top: 40px;
 margin-left: 100px;
  }
  .end p span{
    position: absolute;
    left: 10px;
    display: flex;
  }
  .end .img{
    margin-top: 20px;
    display: flex; 
    margin-left: 600px; 
  }
  .end .img li{
    padding-right: 60px;

    display: flex;
    top: 10px;
  }
  .end .img li img{
    position: absolute;
   width: 2050px;
   margin: 10px;
   height: auto;
  }

}

